body {
    font-family: sans-serif;
}


body, p, h1, h2 {
    margin: 0;
    padding: 0;
}


.container {
    align-items: center;
    display: flex;
    justify-content: center;
    padding-top: 175px;
}


.container div {
    width: 350px;
}


.index-container {
    align-items: center;
    display: flex;
    justify-content: left;
}


.left {
    background: #1DA1F2;
    height: 100vh;
}


.rigth {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 50%
}


.rigth div {
    width: 350px;
}


.logo {
    height: 54px;
    width: auto;
}


.main-logo {
    margin-bottom: 16px;
}


.big-logo {
    height: 50%;
    padding-top: 150px;
    width: auto;
}


.title {
    color: #2D3748;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 2px;
}


.subtitle {
    color: #1A202C;
    font-size: 30px;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 4px;
}


.form label {
    color: #4A5568;
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    margin-bottom: 11px;
    width: 100%;
}


/* padding: top right bottom left (Note: clockwise order from the top) */


.input {
    border: 1px solid #E8E8E8;
    border-radius: 5px;
    box-sizing: border-box;
    color: #2D4738;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    margin-bottom: 11px;
    padding: 17px 20px 17px 20px;
    width: 100%;
}


.link {
    color: #1DA1F2;
    text-decoration: none;
}


.link:hover {
    text-decoration: underline;
}


.button {
    background: #1DA1F2;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
    line-height: 19px;
    margin-top: 28px;
    margin-bottom: 38px;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: center;
    width: 100%;
}


.button:hover {
    background: rgba(29, 161, 242, 0.5);
}


.secondary-button {
    border: #1DA1F2 solid;
    border-radius: 5px;
    color: #1DA1F2;
    cursor: pointer;
    display: block;
    font-size: 16px;
    line-height: 19px;
    margin-top: 28px;
    margin-bottom: 38px;
    padding-top: 15px;
    padding-bottom: 16px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}


.helper-text {
    margin-bottom: 27px;
}


.smaller-vspace {
    margin-top: 9px;
    margin-bottom: 9px;
}


.center {
    text-align: center;
}


.success {
    background: #C7FFC5;	/* light green */
    border: 1px solid #02791A;	/* border-thickness of 1 pixel */
    box-sizing: border-box;
    color: #02791A;		/* dark green */
    padding: 10px 20px;
}


.error {
    background: #FFB4B4;	/* light red */
    border: 1px solid red;
    box-sizing: border-box;
    color: red;
    padding: 10px 20px;
}
